* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#pagina-1 {
    background: #232323;
    height: 100vh;
}

.navbar {
    position: fixed;
    background: #232323;
    padding: 1.5rem;
    width: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
    float: right;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: 2px;
    margin: 1rem;
    transition: 1s;
}

.navbar a:hover {
    color: #000;
    background: #08DD5A;
    padding: 7%;
    border-radius: 12px;
    transition: 1s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    border-radius: 50%;
    border: 3px solid #08DD5A;
    box-shadow: 0px 0px 20px #08DD5A;
}

.container h1 {
    text-transform: uppercase;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
}

.container p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.container span, .container p {
    color: #08DD5A;
    text-transform: uppercase;
}

input[type="button"] {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    background: transparent;
    color: #08DD5A;
    padding: 1rem;
    border: 1px solid #08DD5A;
    border-radius: 12px;
    transition: 1s;
}

input[type="button"]:hover {
    background: #08DD5A;
    color: #000;
    transition: 1s;
}

@media only screen and (max-width: 650px) {
    .navbar {
        width: 0%;
        background: transparent;
    }

    .navbar a {
        color: transparent;
    }

    .container img {
        width: 60%;
    }

    .container h1 {
        text-align: center;
        font-size: medium;
    }

    .container p {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #FFF;
        font-size: small;
    }

    input[type="button"] {
        display: flex;
        align-items: flex-end;
    }
}

#pagina-2 {
    background: #FFF;
    height: 100vh;
}

.about-us h1 {
    text-align: center;
    padding: 4rem;
    text-transform: uppercase;
}

.about-us p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 30px;
}

.about-us span {
    font-weight: bold;
    text-transform: uppercase;
}

#pagina-3 {
    background: #232323;
    height: 100vh;
}

.skills h1 {
    text-align: center;
    padding: 4rem;
    text-transform: uppercase;
    color: #08DD5A;
}

.icon-linguages{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.icon img{
    width: 60%;
    margin: 2rem;
}

.icon p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #08DD5A;
}

.icon{
    transition: 1.5s;
}

.icon:hover{
    transition: 1.5s;
    margin-top: -2%;
}

@media only screen and (max-width: 650px) {
    #pagina-3{
        height: auto;
    }
    .icon img{
        width: 25%;
    }
}

#pagina-4 {
    background: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects h1 {
    text-align: center;
    text-transform: uppercase;
}

.projects p{
    text-align: center;
}

.projetos{
    display: inline;
}

.projetos img{
    width: 30%;
    margin: 1rem;
    transition: 0.3s;
}

.projetos img:hover{
    border: 4px solid #08DD5A;
    width: 31%;
    box-shadow: 0px 0px 20px #000;
}

@media only screen and (max-width: 820px){
    #pagina-4{
        height: auto;
    }
    .projetos img{
        width: 90%;
    }

    .projetos img:hover{
        border: 4px solid #08DD5A;
        width: 91%;
        box-shadow: 0px 0px 20px #000;
    }
}

#pagina-5 {
    background: #232323;
    height: 95vh;
}

.contact h1 {
    text-align: center;
    padding: 1.5rem;
    text-transform: uppercase;
    color: #08DD5A;
}

form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #08DD5A;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    box-shadow: 0px 0px 10px #08DD5A;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    width: 100%;
    background: #08DD5A;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    text-transform: uppercase;
}

[type="submit"]:hover {
    background: transparent;
    color: #08DD5A;
    border: 1px solid #08DD5A;
}

.redes-sociais {
    text-align: center;
    text-transform: uppercase;
    color: #08DD5A;
}

.redes-sociais img {
    width: 25%;
}

.redes-sociais-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 930px) {
    #pagina-2 {
        height: auto;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 650px) {
    #pagina-5 {
        height: 100vh;
    }

    .feedback-input {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    [type="submit"] {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .redes-sociais img {
        width: 50%;
    }
}