*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(90deg, #4709da, #36099e);
}
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(90deg, #4709da, #36099e);
    height: 9vh;
  }
  
  main {
    background-size: cover;
    height: 91vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .nav-list a:hover {
    letter-spacing: 3px;
    margin-left: -8px;
    color: #4709da;
    background: #FFF;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
  }

  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 91vh;
      background-image: linear-gradient(90deg, #4709da, #36099e);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .container-home{
    background: transparent;
    padding: 2rem;
    color: #FFF;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
  }

  .container-home:hover{
    background: transparent;
    padding: 3rem;
    color: #FFF;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    transition: 1s;
  }

  .container-home img{
    width: 40%;
    border-radius: 50%;
    border: 2px solid #FFF;
  }

  @media only screen and (max-width: 900px) {
    .container-home img {
      width: 70%;
    }
  }

  .container-home h1{
    font-size: 36pt;
  }

  .container-home h2{
  font-size: 18pt;
  }

  .container-home h3{
    font-size: 14pt;
  }

  .links img{
    width: 4%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  @media only screen and (max-width: 900px) {
    .links img {
    width: 14%;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -0%)
    }
  }

  .GitHub{
    margin-left: -8%;
  }

  @media only screen and (max-width: 900px) {
    .GitHub{
      margin-left: -25%;
      transition: 1s;
    }
  }

  .Youtube{
    margin-left: 8%;
  }

  @media only screen and (max-width: 900px) {
    .Youtube{
      margin-left: 25%;
      transition: 1s;
    }
  }

  @media only screen and (max-width: 900px) {
    .LinkedIn{
      transition: 1s;
    }
  }

  .container-1, .container-2, .container-3{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 20px;
    margin-top: 5%;
  }

  @media only screen and (max-width: 900px) {
    .container-1, .container-2, .container-3{
      height: auto;
    }
  }

  .container-1 h1, .container-2 h2, .container-3 h3{
    text-align: center;
    color: #FFF;
    font-size: 22pt;
  }

  .container-1 p, .container-2 p, .container-3 p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: justify;
  }

  .My-Projects{
    text-align: center;
    margin-top: 5%;
    color: #FFF;
    font-size: 22pt;
  }

  .card-1, .card-2, .card-3{
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    width: 25%;
    height: 50%;
    border: 2px solid #FFF;
    border-radius: 20px;
  }

  @media only screen and (max-width: 900px) {
    .card-1, .card-2, .card-3{
      display: block;
      width: 70%;
      margin-left: 15%;
    }
  }

  .txt-skills{
    text-align: center;
    color: #FFF;
    padding: 2rem;
  }

  .container-card{
    display: flex;
  }

  @media only screen and (max-width: 900px) {
    .container-card{
      display: block;
    }
  }

  .card-skills{
    width: 20%;
    border: 2px solid #FFF;
    border-radius: 24px;
    margin-left: 2%;
    margin-right: 2%;
  }

  @media only screen and (max-width: 900px) {
    .card-skills{
      width: 80%;
      border: 2px solid #FFF;
      border-radius: 24px;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
    }
  }

  .card-skills img{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
  }

  .card-skills h2{
    text-align: center;
    color: #FFF;
  }

  .card-skills p{
    text-align: justify;
    color: #FFF;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
  }